<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h2>Inicia sesion con tu usuario y contraseña</h2>
      <p>Al ser parte de nosotros podras disfrutar de todos nuestros servicios.</p>
      <a class="nav-link" href="home/crea_cuenta">¿No tienes una cuenta? clic aquí</a>
    </div>
  </div>
<div class="login-box">
  <form class="custom-form" method="post">
    <div class="form-group">
    <input type="email" [(ngModel)]="correo" name="email" placeholder="Email" required="required"/>
    </div>
    <div class="form-group">
    <input type="password" [(ngModel)]="password1" name="password" placeholder="Password" required="required"/>
    </div>
    <div class="form-group">
    <button type="submit" (click)="login()">Log in</button>
    </div>
  </form>
</div>
  
